# .pio
# .vscode/.browse.c_cpp.db*
# .vscode/c_cpp_properties.json
# .vscode/launch.json
# .vscode/ipch
# Entorno de PlatformIO
.pio/
.vscode/
*.bin
*.elf

# Archivos auto-generados de ESP-IDF (¡NUNCA SUBIR EL sdkconfig!)
# Solo deben subir el sdkconfig.defaults que creamos antes.
sdkconfig
sdkconfig.*
build/

# Archivos temporales de Sistemas Operativos
.DS_Store
Thumbs.db

# Si luego agregan la carpeta de KiCad, ignoren los backups de hardware
*-backups/
*.bck

# Firebase
firebase/firebase-debug.log
firebase/firebase-debug.*.log
firebase/functions/venv/
firebase/.firebase/
*firebase/

# Flutter
app/.dart_tool/
app/.packages
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/android/.gradle/
app/android/local.properties
*app/

*.cache/