CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y

# Activar Bluetooth 5.0 NimBLE (Para ahorrar RAM en el ESP32-C3)
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_NVS_STR_STORE=y
# Desactivamos el Security Manager para evitar el error 'org.bluez.error.notpermitted' en Linux
CONFIG_BT_NIMBLE_SM_LEGACY=n
CONFIG_BT_NIMBLE_SM_SC=n
# Brownout: desactivar para evitar resets espurios con batería
# El LDO ME6211 del SuperMini tiene su propia protección de undervoltage
CONFIG_ESP_BROWNOUT_DET=n
